<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>Columns - Layout</title>
    <link rel="stylesheet" href="../../dist/css/ohana.css" />
    <link rel="stylesheet" href="../examples.css" />
  </head>
  <body>
    <div class="l-container u-pb-5">
      <h1>等宽列</h1>
      <div class="l-columns">
        <div class="l-column od-exampleBox">column 1</div>
        <div class="l-column od-exampleBox">column 1</div>
        <div class="l-column od-exampleBox">column 1</div>
        <div class="l-column od-exampleBox">column 1</div>
      </div>
      <h1>非等宽列（一行12份）</h1>
      <div class="l-columns">
        <div class="l-column is-3 od-exampleBox">
          <code>.l-column.is-3</code>
        </div>
        <div class="l-column is-6 od-exampleBox">
          <code>.l-column.is-6</code>
        </div>
        <div class="l-column is-2 od-exampleBox">
          <code>.l-column.is-2</code>
        </div>
        <div class="l-column is-1 od-exampleBox">
          <code>.l-column.is-1</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-4 od-exampleBox">
          <code>.l-column.is-4</code>
        </div>
        <div class="l-column is-8 od-exampleBox">
          <code>.l-column.is-8</code>
        </div>
      </div>
      <h1>列偏移</h1>
      <div class="l-columns">
        <div class="l-column is-11 is-offset-1 od-exampleBox">
          <code>.l-column.is-11.is-offset-1</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-10 is-offset-2 od-exampleBox">
          <code>.l-column.is-10.is-offset-2</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-9 is-offset-3 od-exampleBox">
          <code>.l-column.is-9.is-offset-3</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-8 is-offset-4 od-exampleBox">
          <code>.l-column.is-8.is-offset-4</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-7 is-offset-5 od-exampleBox">
          <code>.l-column.is-7.is-offset-5</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-6 is-offset-6 od-exampleBox">
          <code>.l-column.is-6.is-offset-6</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-5 is-offset-7 od-exampleBox">
          <code>.l-column.is-5.is-offset-7</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-4 is-offset-8 od-exampleBox">
          <code>.l-column.is-4.is-offset-8</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-3 is-offset-9 od-exampleBox">
          <code>.l-column.is-3.is-offset-9</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-2 is-offset-10 od-exampleBox">
          <code>.l-column.is-2.is-offset-10</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-1 is-offset-11 od-exampleBox">
          <code>.l-column.is-1.is-offset-11</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-2 is-offset-5 od-exampleBox">
          <code>.l-column.is-2.is-offset-5</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-4 is-offset-4 od-exampleBox">
          <code>.l-column.is-4.is-offset-4</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-6 is-offset-3 od-exampleBox">
          <code>.l-column.is-6.is-offset-3</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-8 is-offset-2 od-exampleBox">
          <code>.l-column.is-8.is-offset-2</code>
        </div>
      </div>
      <div class="l-columns">
        <div class="l-column is-10 is-offset-1 od-exampleBox">
          <code>.l-column.is-10.is-offset-1</code>
        </div>
      </div>
    </div>
  </body>
</html>
