<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>Responsive - Layout</title>
    <link rel="stylesheet" href="../../dist/css/ohana.css">
    <link rel="stylesheet" href="../examples.css">
  </head>
  <body>

    <div class="l-container">
      <div class="l-columns">
        <div class="l-column od-exampleBox">
          <p><code>.l-container</code>使用在容器上，在不同的设备下，将内容呈现宽度固定在一个宽度值。</p>
          <p>ohana.css 根据当前视口宽度，将设备分为三类：手机、平板和桌面。</p>
          <ul>
            <li>&lt;769px ：手机</li>
            <li>&gt;=769px 且 &lt;1200px：平板</li>
            <li>&gt;=1200px：桌面</li>
          </ul>
          <p>在各个设备下，<code>.l-container</code>的宽度的固定值是：</p>
          <ul>
            <li>手机：<code>414px</code></li>
            <li>平板：<code>769px</code></li>
            <li>桌面：<code>1200px</code></li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>