.breadcrumb {
  font-size: 1rem;
  white-space: nowrap;

  li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    color: #a3a7a3;
    padding: 0 0.75em;
  }
}

.breadcrumb {
  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  // Alignment
  &.is-centered {
    ul {
      justify-content: center;
    }
  }

  &.is-right {
    ul {
      justify-content: flex-end;
    }
  }
}
