$font-family-sans-serif: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
"Microsoft YaHei", "微软雅黑", Arial, sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem !default; // As browser default, typically `16px`

// Colors
$darker: #212121 !default;
$dark: #424242 !default;
$darkish: #828282 !default;
$blue: #1a7de1 !default; 
$gray: #bdbdbd !default;
$white: #fff !default;
$green: #5bb25f !default; 
$yellow: #f9d676 !default;
$orange: #f1bc37 !default; 
$red: #ff7f5a !default;
$light: #fafafa !default;

// Color list
$colors: (
  "darker": $darker,
  "dark": $dark,
  "darkish": $darkish,
  "blue": $blue,
  "yellow": $yellow,
  "gray": $gray,
  "white": $white,
  "green": $green,
  "orange": $orange,
  "red": $red,
  "light": $light
);

$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);
